<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Starter Kit by Max Vegas</title>

	<link rel="stylesheet" href="./styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<meta name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>

	<link rel="icon" href="https://mir-s3-cdn-cf.behance.net/user/138/ca707661283209.58a226b0e63d8.jpeg">
</head>
<body>
	<div class="pace"></div>
  <div id="madeby">
    <a href="http://instagram.com/max.vegas.pro" target="_blank" class="madeby">Made by Max Vegas</a>
  </div>
	<section class="hero is-fullheight hero-main">
		<div class="hero-body">
			<div class="container">
				<div class="columns">
					<div class="column is-6 is-offset-3" id="app">
						<h1 class="title is-1">Hello! {{ message }}</h1>
            <h3 class="title is-4"><em>Starter kit to bootsrap site development</em></h2>
            <b>
            <a href="http://gulpjs.com/" target="_blank" rel="noopener noreferrer">gulp (scss, es2015)</a> |
            <a href="http://bulma.io" target="_blank" rel="noopener noreferrer">bulma</a> |
            <a href="http://fontawesome.io/cheatsheet/" target="_blank" rel="noopener noreferrer">fa</a> |
            <a href="https://vuejs.org/" target="_blank" rel="noopener noreferrer">vue</a> | 
            <a href="http://github.hubspot.com/pace/docs/welcome/" target="_blank" rel="noopener noreferrer">page-loader</a> |
            <a href="https://code.jquery.com/jquery-1.12.4.min.js" target="_blank" rel="noopener noreferrer">jquery 1.x</a> |
            <a href="http://gsgd.co.uk/sandbox/jquery/easing/" target="_blank" rel="noopener noreferrer">easing</b>.</p>
						<a href="#anchor" class="button is-info">Dive In</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="start-block">
		<div class="container">
      <div class="columns">
        <article class="content column is-4">
    			<h2 class="title is-2"> File structure </h2>
          <p><i class="fa fa-folder-open"></i> app</p>
            <p class="secondary"><i class="fa fa-folder-open"></i> js</p>
              <p class="thirdry"><i class="fa fa-file-code-o"></i> Ajquery.js</p>
              <p class="thirdry"><i class="fa fa-file-code-o"></i> Bloader.js</p>
              <p class="thirdry"><i class="fa fa-file-code-o"></i> Ceasing.js</p>
              <p class="thirdry"><i class="fa fa-file-code-o"></i> Dsmooth.js</p>
              <p class="thirdry"><i class="fa fa-file-code-o"></i> Zmain.babel.js</p>
            <p class="secondary"><i class="fa fa-folder-open"></i> scss</p>
              <p class="thirdry"><i class="fa fa-folder"></i> bulma-sass</p>
              <p class="thirdry"><i class="fa fa-file-code-o"></i> bulma.sass</p>
              <p class="thirdry"><i class="fa fa-file-code-o"></i> main.scss</p>
            <p class="secondary"><i class="fa fa-folder-open"></i> views</p>
              <p class="thirdry"><i class="fa fa-file-code-o"></i> index.html</p>
          <p><i class="fa fa-folder"></i> dist</p>
            <p class="secondary"><i class="fa fa-folder-open"></i> assets</p>
              <p class="thirdry"><i class="fa fa-folder"></i> fonts</p>
              <p class="thirdry"><i class="fa fa-folder"></i> images</p>
            <p class="secondary"><i class="fa fa-file-code-o"></i> index.html</p>
            <p class="secondary"><i class="fa fa-file-code-o"></i> style.css</p>
            <p class="secondary"><i class="fa fa-file-code-o"></i> vue.js</p>
            <p class="secondary"><i class="fa fa-file-code-o"></i> main.js</p>
          <p><i class="fa fa-file-code-o"></i> .babelrc</p>
          <p><i class="fa fa-file-code-o"></i> .gitignore</p>
          <p><i class="fa fa-file-code-o"></i> gulpfile.babel.js</p>
          <p><i class="fa fa-file-code-o"></i> package.json</p>
          <p><i class="fa fa-file-code-o"></i> README.md</p>
        </article>

        <article class="content column is-8">
          <h2 class="title is-2"> Features </h2>
          <ul>
            <li><b>Gulp</b>- Automatic scss/sass/js/babel compiler/minifier & file watcher</li>
            <li><b>Vue.js</b>- JS Framework installed</li>
            <li><b>bulma.io</b>- Modern CSS framework based on flexbox.</li>
          </ul>

          <div class="content">
            <h2 class="title is-2"> Starting a project </h2>
            <ol>
              <li><b>Fill the folders</b> - add <i>images</i>, to dist/assets/images, <i>fonts</i> to dist/assets/fonts or delete the directory if you don't need to store them on the server.</li>
              <li><b>Deside</b> which plugins/frameworks to use and add or remove them to/from the project.</li>
              <li></li>
              <li></li>
              <li></li>
            </ol>
          </div>
        </article>
      </div>

			<a id="anchor" class="btn is-danger"></a>
		</div>
	</section>

	<script type="text/javascript" src="./vue.js"></script>
	<script type="text/javascript" src="./main.js"></script>
</body>
</html>