<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Starter Kit by Max Vegas</title>

	<link rel="stylesheet" href="./styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<meta name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>

	<link rel="icon" href="https://mir-s3-cdn-cf.behance.net/user/138/ca707661283209.58a226b0e63d8.jpeg">
</head>
<body>
	<div class="pace"></div>
  <div id="madeby"><a href="http://instagram.com/max.vegas.pro" target="_blank" class="madeby">Made by Max Vegas</a></div>
	<section class="hero is-fullheight hero-main">
		<div class="hero-body">
			<div class="container">
				<div class="columns">
					<div class="column is-6 is-offset-3">
						<h1 class="title is-1">Hello!</h1>
            <h3 class="title is-4"><em>Starter kit to bootsrap site development</em></h2>
            <b>
            <a href="http://gulpjs.com/" target="_blank" rel="noopener noreferrer">gulp (scss, es2015)</a> |
            <a href="http://bulma.io" target="_blank" rel="noopener noreferrer">bulma</a> |
            <a href="https://vuejs.org/" target="_blank" rel="noopener noreferrer">vue</a> | 
            <a href="http://github.hubspot.com/pace/docs/welcome/" target="_blank" rel="noopener noreferrer">page-loader</a> |
            <a href="https://code.jquery.com/jquery-1.12.4.min.js" target="_blank" rel="noopener noreferrer">jquery 1.x</a> |
            <a href="http://gsgd.co.uk/sandbox/jquery/easing/" target="_blank" rel="noopener noreferrer">easing</b>.</p>
						<a href="#anchor" class="button is-info">Introduction</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container content">
			<h2 class="title is-2"> First steps</h2>
			 <ul>
        <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
        <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
        <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
        <li>Ut non enim metus.</li>
      </ul>
         
			<a id="anchor" class="btn is-danger"></a>
		</div>
	</section>

	<script type="text/javascript" src="./vue.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="./loader.js"></script>
	<script type="text/javascript" src="./easing.js"></script>
	<script type="text/javascript" src="./main.js"></script>
</body>
</html>